
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gochi+Hand&family=Handlee&display=swap');

:root {
   --fonte1: Verdana, Geneva, Tahoma, sans-serif;
   --fonte3: "Handlee", cursive;
   --fonte4: "Bebas Neue", sans-serif; 

}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: aquamarine;
    min-height: 100vh;
    font-family: var(--fonte1);
    

}
header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte4);
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}
header > p {
    padding-bottom: 50px;

}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.9em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    font-weight: bold;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.856);
    display: inline-block;
    padding:5px;
    text-shadow: 1px 1px 0px black;
    
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section#img01{
background-image: url(imagens/background001.jpg);

}
section#img03{
background-image: url(imagens/background002.jpg);

}
a:hover {
   text-decoration: underline; 
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}